doctype html
html
  head
    title Jumbotron Template for Bootstrap
    // Bootstrap core CSS
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    // Favicons
    link(rel='apple-touch-icon', href='/docs/4.4/assets/img/favicons/apple-touch-icon.png', sizes='180x180')
    link(rel='icon', href='/docs/4.4/assets/img/favicons/favicon-32x32.png', sizes='32x32', type='image/png')
    link(rel='icon', href='/docs/4.4/assets/img/favicons/favicon-16x16.png', sizes='16x16', type='image/png')
    link(rel='manifest', href='/docs/4.4/assets/img/favicons/manifest.json')
    link(rel='mask-icon', href='/docs/4.4/assets/img/favicons/safari-pinned-tab.svg', color='#563d7c')
    link(rel='icon', href='/docs/4.4/assets/img/favicons/favicon.ico')
    meta(name='msapplication-config', content='/docs/4.4/assets/img/favicons/browserconfig.xml')
    meta(name='theme-color', content='#563d7c')
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/about') About Us
          li.nav-item
            a.nav-link(href='/contact', tabindex='-1', aria-disabled='true') Contact
        // /.nav-collapse
    .container
     block content
    hr
    footer
     p(class='text-center') © 2015 Company, Inc.
    // /container